.alert.alert-info
  %h4.alert-heading
    = fa_solid 'exclamation-triangle'
    Heads up!
  You already have booked a reservation for this workshop.
  %a.btn.btn-info.btn-block.btn-sm.text-uppercase{href: reservation_path(@already_hosting)}
    View your reservation
