.alert.alert-info
  %h4.alert-heading
    = fa_solid 'exclamation-triangle'
    Heads up!
  You already have a seat for this workshop!
  %a.btn.btn-info.btn-block.btn-sm.text-uppercase{href: seat_path(@already_attending)}
    View your seat
