.col.justify-content-center
  .card.mt-3
    %img.card-img-top{src: '/NoShops.jpeg'}
    .card-body
      %h5.card-title Thanks for stopping by!
      %p.card-text
        We don't have any workshops available for purchase right now, but check back soon!
        In the meantime, please visit our Facebook page to stay updated.
    .card-footer{style: 'display: flex; justify-content: space-evenly'}
      %a.btn.btn-primary(href=workshops_public_path)
        View PUBLIC Workshop dates
      %a.btn.btn-primary(href=workshops_private_path)
        View PRIVATE Workshop dates
