.row.justify-content-center
  .col.col-lg-8.col-md-12
    .card
      %h4.card-header.bg-primary.text-white
        Check Back Soon!
      %img.card-img-top{src: '/cover.jpg'}
      .card-body
        %h5.card-title Thanks for stopping by
        %p.card-text
          We don't have any workshops available for purchase right now, but check back soon!
          In the meantime, please visit our Facebook page to stay updated.
      .card-footer.text-center
        %a.btn.btn-primary(href=workshops_public_path)
          View PUBLIC Workshop dates
        %a.btn.btn-primary(href=workshops_private_path)
          View PUBLIC Workshop dates
        %a.btn.btn-primary{href: 'https://www.facebook.com/signjunkieworkshop/'}
          = fa_brands 'facebook'
          Facebook
