.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Hostess Guidelines for Private Workshops

%p
  The payment of a deposit is required to secure THIS date.
  Please read below to see what is required to get your deposit refunded.

%p
  As the hostess, YOU are responsible for inviting guests and making sure they register by your workshop deadline,
  which is clearly listed on your registration link. The deadline for ALL guest to register is 7 days prior to
  your event.

%p
  Private workshops will have exclusive access of our workshop for 3 hours on the date and time you secure. ALL guests
  that plan to attend MUST register by the deadline! ONLY those who have registered can enter the workshop so please
  be sure everyone registers! Note: The ONLY exception to this is if the event is a kid or family friendly workshop.
  ONLY then may an unregistered guest enter the workshop to assist a child with their project. Thanks for cooperation!

%p
  Everyone attending an ADULT workshop MUST be 16 years of age or older. If you reserve a Private Workshop for your child,
  children over the age of 8 are welcome to attend. EVERY child attending between the age of 8-17 years old must have a paid
  reservation and a parent guardian with them to sign a
  %a{href: waiver_path} Waiver of Liability
  form. NO drop-offs so plan on staying until your child is done at the event.

%p
  Please make sure you and your guests arrive 15-20 minutes before the start of your event. Anyone arriving more than
  15 minutes late will NOT be allowed to enter and their registration fee will NOT be returned. EVERYONE must sign a
  %a{href: waiver_path} Waiver of Liability
  form upon arrival.

%p
  %span.text-info Cancellation Policy:
  If you (the hostess) cancels or reschedules your event for ANY reason your deposit will be forfeited and your registered
  guests will receive an email notification of cancellation and a reservation fee refund. If a guest registers and has to
  cancel, their registration fee will be forfeited. We suggest you work with them to find someone to take their place and
  do the project that was selected. Keep in mind, your deposit will only be refunded IF at least 6 guests register AND
  attend your event.

%p
  %span.text-info Deposit Refund:
  To get your deposit back, you MUST have at least 6 guests (including yourself) register AND attend your event.
  The deposit will be refunded within 48 hours after your event takes place. If you do NOT get at least 6 guests
  (including yourself) registered by the deadline your deposit will NOT be refunded or credited...it will be forfeited.
  To cancel your registration go to the
  %a{href: reservations_path} Workshop Planner.
  Note: If you are hosting a child’s event you MUST have 6 guest minimum (this may or may not include yourself depending
  on whether you want to do a project or not) register AND attend the event.

%p
  %span.text-info Food and Alcohol:
  You MUST be at least 21 years old to bring/consume alcohol. Please feel free to bring beer, wine and snacks with you
  to enjoy at the workshop. We also sell a variety of non-alcoholic beverages and snacks on the premises. We ask that you
  consume alcohol responsibly, and designate a driver. Note: NO alcoholic beverages are permitted at any of the kid or
  family friendly workshops. You are welcome to bring non-alcoholic beverages and snacks to enjoy. Thanks for your cooperation!

%p
  %span.text-info Project Change Request:
  Please note, the design you choose at registration will be the design you receive at your workshop. Please check your spelling.
  No changes may be made once hour order is placed. We would be happy to accommodate your request for a design change for a
  $10. stencil re-cut fee, payable upon the start of your workshop. Email
  %a{href: "mailto:#{ClientInfo.contact_email}"}= ClientInfo.contact_email
  to request a stencil design change.

%p
  %span.text-info No Project Do-Overs:
  Sorry, there is NO project do-overs! The instructors advice and assist you in the selection of paint/stain colors, and techniques
  but ultimately the final color and technique choice is yours. Once you leave the workshop you can NOT request to come back and
  do your project over because you wish later that you would have chosen differently. Thanks for your understanding!

%p
  If you would like more information! Send us an email at
  %a{href: "mailto:#{ClientInfo.contact_email}"}= ClientInfo.contact_email

%p
  %span.text-info Please Note:
  If for some reason our management deems it necessary to cancel or reschedule a workshop due to staffing, hazardous weather, or for
  some unforeseen matter, all our registered guest will be notified ASAP via text and/or email. If a workshop is cancelled, by management,
  your FULL reservation fee will be credited back to the card or account you originally paid with, within 48 hours after the workshop
  was cancelled. Please allow 3-5 business days for your bank to credit your account.
