- page_title 'Workshops'

.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Workshops

.row
  .col-3
    .rendered-form
      .formbuilder-radio-group.form-group.field-workshop_type_ids
        %label.formbuilder-radio-group-label{:for => "workshop_type_ids"} Type
        .radio-group
          .formbuilder-radio
            %input#workshop_type_ids-0{:access => "false", :checked => "checked", :name => "workshop_type_ids", :type => "radio", :value => "1"}/
            %label{:for => "workshop_type_ids-0"} Public Workshops
          .formbuilder-radio
            %input#workshop_type_ids-1{:access => "false", :name => "workshop_type_ids", :type => "radio", :value => "2"}/
            %label{:for => "workshop_type_ids-1"} Private Workshops
      .formbuilder-radio-group.form-group.field-workshop_type_ids
        %label.formbuilder-radio-group-label{:for => "workshop_type_ids"} Ages
        .radio-group
          .formbuilder-radio
            %input#workshop_type_ids-0{:access => "false", :checked => "checked", :name => "workshop_type_ids", :type => "radio", :value => "1"}/
            %label{:for => "workshop_type_ids-0"} Adult Only
          .formbuilder-radio
            %input#workshop_type_ids-1{:access => "false", :name => "workshop_type_ids", :type => "radio", :value => "2"}/
            %label{:for => "workshop_type_ids-1"} Family Friendly
      .formbuilder-date.form-group.field-start_date
        %label.formbuilder-date-label{:for => "start_date"} Start Date
        %input#start_date.form-control{:access => "false", :name => "start_date", :type => "date"}
      .formbuilder-date.form-group.field-end_date
        %label.formbuilder-date-label{:for => "end_date"} End Date
        %input#end_date.form-control{:access => "false", :name => "end_date", :type => "date"}

  .col-9
    %turbo-frame#results
      = render WorkshopSearchResults::Component.new(@workshops)
