.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Private Workshop Policies

%p
  Upon arrival and before entering our workshop, you will be required to review and sign our
  %a{href: waiver_path} Waiver of Liability
  form.

%p
  %span.text-danger Arriving on Time:
  We ask that you arrive 15-20 minutes prior to the start time of the workshop so that we can start on time.

%p
  %span.text-danger Late Arrivals:
  Anyone arriving any later than 15 minutes after the start time will not be allowed to enter the workshop AND their reservation fee
  will NOT be refunded. Thank you for understanding!

%p
  Only registered guests will be permitted into the workshop area. Because of workshop size, available seating and fire code, we are limited to
  the number of people allowed in the workshop area.

%p
  Because of the time constraints and the way our workshops are instructed, we can only allow each person to make ONE project per workshop.
  If there are multiple designs you would like, we suggest finding a friend to purchase a spot and make it for you.

%p
  Unless noted, ALL workshops are for adults only! You must be at least 16 years old to attend an adult workshop. If you are not at least 18 years
  of age your Waiver of Liability form must be signed by a parent or guardian.

%p
  %span.text-danger Food and Alcohol:
  YOU MUST be at least 21 years old to bring/consume alcohol. Please feel free to bring beer, wine, and food with you to the workshop.
  We also sell a variety of non-alcoholic beverages and snacks on the premises. We ask that you consume alcohol responsibly, and designate a driver.
  Note: NO alcoholic beverages are permitted at any of the kid or
  family friendly workshops. You are welcome to bring non-alcoholic beverages and snacks to enjoy. Thanks for your cooperation!

%p
  %span.text-danger DIY and Tools:
  You will be using electric sanders, drills, staple/nail guns, sand paper, latex paints, water based stains and decorative all natural waxes.

%p
  %span.text-danger Please Note:
  ALL of our projects involve wood! No two pieces of wood are alike! Grains, texture and aging is different in every piece of wood.
  There will be knots, chips, cracks, and other NATURAL blemishes that give it character! Your sign may have slight bleeding and/or wood peeling.
  You always have the option to leave the wood natural, paint or stain it. If your project is being displayed outside or in an area prone to moisture we
  recommend that you protect it using the sealer or polyurethane of your choice which you can purchase at any local home improvement store.

%p
  %span.text-danger Project Change Request:
  Please note, the design you choose at registration will be the design you receive at your workshop.
  Please check your spelling. No changes may be made once your order is placed. We would be happy to accommodate your request for a design change for a
  $10 stencil re-cut fee, payable upon the start of your workshop. Email
  %a{href: 'mailto:signjunkie@columbus.rr.com'} signjunkie@columbus.rr.com
  to request a stencil design change.

%p
  %span.text-danger No Project Do-Overs:
  There are no project do-overs! The instructors advice and assist you in the selection of paint colors and techniques but
  ultimately the final paint color and technique is yours. If you choose colors that you later (when the workshop is done) wish you would have chosen differently,
  you can not request to come back and do your project over.

%p
  %span.text-danger Registration:
  The deadline for ALL guests to register is 7 days prior to the event.

%p
  %span.text-danger Cancellation Policy for Private Workshops:
  If your hostess cancels or reschedules the event for ANY reason you will receive an email notification of cancellation and a reservation fee refund.
  If you, the guest, register and have to cancel, your registration fee will be forfeited. We suggest you find someone to take your place and do the project that was selected.
  To begin cancelling an order head over to
  %a{href: seats_path} My Seats Page
  under My Account.

%p
  %span.text-danger Please Note:
  If for some reason our management deems it necessary to cancel or reschedule a workshop due to attendance for a workshop is 4 or less attendees,
  hazardous weather, or for some unforeseen matter, all our registered guest will be notified as early as possible via text message and/or email.
  If a workshop is cancelled, by management, your FULL reservation fee will be credited back to the card or account you originally paid with, within 48 hours after your workshop was cancelled.
  Please allow 3-5 business days for your bank to credit your account.
