.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h1.card-header.bg-primary.text-white.text-center
        Private Workshops

.row
  .col
    %p.text-primary.text-center
      Host a private DIY workshop with friends, family, or co-workers!
      Great for birthday celebrations, girl’s night out, bachelorette party or team building!
.row
  .col
    - if @workshops.any?
      = render partial: "workshops/grid"
    - else
      = render partial: "workshops/no_workshops"
