- page_title 'Workshops'

.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Private Workshops

.row
  .col.d-none.d-md-inline
    %h4.text-primary.text-center
      Host a private DIY workshop with friends, family, or co-workers!
      %br
      Great for birthday celebrations, girl’s night out, bachelorette party or team building!
    %h4.text-info.text-center= t('workshop.adult_only_warning')
  .col.d-md-none
    %h6.text-primary.text-center
      Host a private DIY workshop with friends, family, or co-workers!
      %br
      Great for birthday celebrations, girl’s night out, bachelorette party or team building!
    %h6.text-info.text-center= t('workshop.adult_only_warning')
.row
  - if @workshops.any?
    = render partial: "workshops/grid"
  - else
    = render partial: "workshops/no_workshops"
