%turbo-frame.mt-2{'action': 'replace',
                  'target': 'seatWizardProjects',
                  'data-controller': 'seat-wizard--project',
                  'data-seat-wizard--project-active-class': 'bg-teal-light'}
  %h5.card-title Select your project

  = hidden_field_tag :project_id, nil, 'data-seat-wizard--project-target': 'projectField'

  .row#projectOptions{'data-isotope': '{"layoutMode": "masonry", "itemSelector": "project"}'}

    - @projects.each do |project|
      - image = project.project_images.first

      .col-12.col-sm-6.project
        %a.card.shadow-light-lg.mb-3{href: '#',
                                    'data-seat-wizard-target': 'project',
                                    'data-action': 'seat-wizard--project#toggle',
                                    'data-id': project.id,
                                    'data-name': project.name,
                                    'data-price': project.total_price,
                                    'data-image-url': url_for(image),
                                    'data-active-addons': project.addons.active.any?}
          .card-zoom
            %img.card-img{alt: "Image of #{project.name}", src: url_for(image)}
          .card-body.text-center{'data-seat-wizard--project-target': 'project', 'data-id': project.id}
            %h5.card-title.text-dark.mb-2= project.name
            %h6.text-dark= number_to_currency project.total_price
            - if project.addons.active.any?
              .badge.badge-info Optional Add-ons!

  .row
    .col
      %a.btn.btn-info{href: '#', 'data-action': 'seat-wizard#goToTab', 'data-destination': 'guest'} Previous

    .col
      .float-right
        %a.btn.btn-info{href: '#', 'data-action': 'seat-wizard#goToTab', 'data-destination': 'addon',
          'data-seat-wizard--project-target': 'nextButton'} Next