.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Public Workshops

.row
  .col
    %h4.text-primary.text-center
      Below you will find upcoming workshops we are currently accepting reservations for.
      We offer a large variety of projects and designs.
      In order to prepare your project and stencil, we do require our guests to choose and book ahead of time.
      We look forward to seeing you at a workshop!
    %br
    %h4.text-danger.text-center
      These are adult only workshops unless specified otherwise!

.row
  .col
    - if @workshops.any?
      = render partial: "workshops/grid"
    - else
      = render partial: "workshops/no_workshops"
