.card.mt-3
  - if workshop.reservations.empty?
    .card-body.text-center
      %h2 No Reservations
      %p.text-muted.mb-0 Any booked reservations will appear here.
  - else
    .card-header
      %h3.card-header-title Reservations
    = render partial: 'admin/reservations/list', locals: { reservations: workshop.reservations }

.card
  - if workshop.seats.where(reservation_id: nil).empty?
    .card-body.text-center
      %h2 No Seats
      %p.text-muted.mb-0 Any purchased seats will appear here.
  - else
    .card-header
      %h3.card-header-title Individual Seats
    = render partial: 'admin/seats/list', locals: { seats: workshop.seats.where(reservation_id: nil), host_id: nil }
