.card.mt-3
  .card-header
    %h3.card-header-title Reservations
  - if workshop.reservations.empty?
    .card-body No reservations have been purchased.
  - else
    = render partial: 'admin/reservations/list', locals: { reservations: workshop.reservations }

.card
  .card-header
    %h3.card-header-title Individual Seats
  = render partial: 'admin/seats/list', locals: { seats: workshop.seats.where(reservation_id: nil), host_id: nil }
