- unless @workshop.projects.any?
  .card.mt-3
    .card-body
      %strong.text-danger You haven't added any projects to this workshop
      .card-text Customers will be unable to purchase tickets to this workshop until you've added a project.
- else
  %table.table.table-bordered.table-striped.mt-3
    %thead.bg-primary.text-white
      %tr
        %th Name
        %th.text-right Price
        %th.text-right Material (Taxable)
        %th.text-right Instructional
    %tbody
      - @workshop.projects.order(:name).each do |p|
        %tr
          %td= link_to p.name, admin_project_path(p)
          %td.text-right= number_to_currency(p.total_price)
          %td.text-right= number_to_currency(p.material_price)
          %td.text-right= number_to_currency(p.instructional_price)
