- unless seats.any?
  .card.mt-3
    .card-body
      .text-muted No customers have RSVPd to this workshop yet.
- else
  %ul.list-group
    - seats.each do |item|
      %li.list-group-item
        .row
          .col-12.col-md-9.mb-3.mb-md-0
            = render partial: 'item_descriptions/show', locals: {item: item.description}
          .col-12.col-md-3.text-right
            = link_to admin_invoice_path(item.invoice), class: "btn btn-secondary" do
              %span.fas.fa-file-invoice
              View Invoice
            = link_to "mailto:#{item.customer.email}", class: "btn btn-secondary mt-2" do
              %span.fas.fa-envelope
              Contact
