- page_title 'Workshop Search'

.header.mt-md-2
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Workshops
        %h1.header-title
          %i.fad.fa-toolbox
          Search
      .col-auto
        = link_to 'New Workshop', new_admin_workshop_path, class: 'btn btn-primary lift'

%workshop-grid
