- page_title 'Add Projects', @workshop.name,'Workshops'

= form_for @workshop, url: admin_workshop_project_path(@workshop) do |f|
  .card
    %h5.card-header.bg-primary.text-white
      Add Projects to Workshop
    .card-body
      .card-text Select the Projects that your customers will be able to create at this workshop
    .card-footer
