.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "cancelSeatModalLabel", :role => "dialog", :tabindex => "-1", id: "cancel-seat-#{seat.id}-modal"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#cancelSeatModalLabel.modal-title Are you sure?
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        A refund or credit will be issued per the
        %a{href: policy_path(seat.workshop.workshop_type.guest_policy)} refund policy.
        This can not be undone.

      .modal-footer
        %button.btn.btn-secondary{"data-dismiss": "modal", type: "button"} Nevermind
        = form_for :seat, url: cancel_seat_path(seat), class: 'form-inline' do |f|
          = f.hidden_field :id, value: seat.id
          %button.btn.btn-danger{type: 'submit'} Process cancellation