- if seats.any?
  - seats.each do |seat|
    %li.list-group-item
      %a.list-group-item-action{href: seat_path(seat)}
        .row
          .col
            = render(ItemDescriptionDisplay::Component.host_seat(seat))
          - if seat.reservation.host?(current_user) || seat.user_id == current_user.id
            .col.text-right= render partial: 'seats/actions', locals: { seat: seat }
- else
  %li.list-group-item
    No seats have been added yet.
