- page_title 'My Seats'

.row.justify-content-center.mt-3
  .col
    .card
      %h2.card-header.bg-primary.text-white.text-center
        = fa_solid 'chair'
        My Seats
      %ul.list-group
        - @seats.each do |r|
          %a.list-group-item.list-group-item-action{href: seat_path(r)}
            = render partial: 'item_descriptions/show', locals: {item: r}
