- page_title 'My Seats'

.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        = fa_solid 'chair'
        My Seats

.card
  - if @seats.any?
    %ul.list-group.list-group-flush
      - @seats.each do |r|
        %li.list-group-item
          %a.list-group-item-action{href: seat_path(r)}
            = render(SimpleItemDisplay::Component.new(r))
  - else
    .card-body.text-center
      %h2 No Purchased Seats
      %p Any seats that you've purchased (and the ones that were purhcased for you) will appear here.
      %a.btn.btn-info(href=workshops_public_path)
        View PUBLIC Workshop dates
      %a.btn.btn-info(href=workshops_private_path)
        View PRIVATE Workshop dates
