# Gemfile.lock

.bundle
.idea
.vscode
.byebug_history
.ds_store
/coverage/*
/log
/tmp
/doc
/node_modules
/yarn-error.log
/storage
/public/assets

!/log/.keep
!/tmp/.keep
/spec/examples.txt
/chart/charts/

env.*
!env.development
*.key
*.pdf

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.npmrc
