.card.mt-2
  %h5.card-header.bg-primary.text-white
    Addons
  - if addons.any?
    %table.table.table-bordered.table-striped.table-border-fix
      %thead
        %tr
          %th Name
          %th Price
      %tbody#addons
        - addons.each do |item|
          = render partial: 'admin/project_addons/row', locals: { addon: item }
  - else
    .card-body
      No addons
