#cancelOrderModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "cancelOrderModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#cancelOrderModalLabel.modal-title Are you sure?
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        All refundable items in your order will be canceled.
        A refund or credit will be issued per the
        %a{href: policies_path} refund policy.
        This can not be undone.

      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Nevermind
        = link_to cancel_invoice_path, method: :post, class: 'btn btn-danger' do
          Process cancellation

