- content_for :scripts do
  :javascript
    $(function() {
      var form = document.querySelector(".new_invoice");
      var nonceInput = document.querySelector("#payment_method_nonce");
      braintree.setup("#{@client_token}", "dropin", {
        container: "payment-container",
        paypal: {
          flow: "checkout",
          amount: "#{number_to_currency(@invoice.grand_total)}",
          currency: "USD"
        }
      }, function(err, dropinInstance) {
        HideLoader();
        if (err) {
          Raven.captureException(err);
          return;
        }
        form.addEventListener("submit", function(event) {
          event.preventDefault();
          dropinInstance.requestPaymentMethod(function(err, payload) {
            if (err) {
              dropinInstance.clearSelectedPaymentMethod();
              Raven.captureException(err);
              return;
            }
            nonceInput.value = payload.nonce;
            form.submit();
          });
        });
      });
    });
