- content_for :scripts do
  :javascript
    $(function() {
      var form = document.querySelector(".new_order");
      var nonceInput = document.querySelector("#payment_method_nonce");
      braintree.dropin.create({
        authorization: "#{@client_token}",
        container: "#payment-container",
        paypal: {
          flow: "checkout",
          amount: "#{number_to_currency(@payment.amount)}",
          currency: "USD"
        }
      }, function(err, dropinInstance) {
        HideLoader();
        if (err) {
          console.error(err);
          return;
        }
        form.addEventListener("submit", function(event) {
          event.preventDefault();
          dropinInstance.requestPaymentMethod(function(err, payload) {
            if (err) {
              dropinInstance.clearSelectedPaymentMethod();
              console.error(err);
              return;
            }
            nonceInput.value = payload.nonce;
            form.submit();
          });
        });
      });
    });
