.card-body
  = error_messages_for 'order'
  = error_messages_for 'payment'
  = f.hidden_field :created_at
  %input{type: :hidden, id: :payment_method_nonce, name: :payment_method_nonce}
  %p.card-text
    Seats and projects can be assigned to individuals after purchasing. If they don't have an account
    with Sign Junkie, we'll send them an email letting them know you bought them a seat. We'll do the same
    if you purhcased a gift card for someone.

  - unless Rails.env.production?
    %p.card-text.text-warning
      %strong Test Credit Card Information
      %br
      %samp 4111-1111-1111-1111     01/23

  #payment-container

  %button{type: 'submit', name: 'save', class: 'btn btn-primary'}
    Place your order
    = fa_regular 'cash-register'
