.card-body
  = error_messages_for 'order'
  = error_messages_for 'payment'
  = f.hidden_field :created_at
  %input{type: :hidden, id: :gift_cards, name: :gift_cards, value: params[:gift_cards]}
  %input{type: :hidden, id: :payment_method_nonce, name: :payment_method_nonce,
         'data-checkout-target': 'paymentNonce'}

  %p.card-text
    If you're purchasing seats or a gift card for someone else we'll send them an email letting them know about your purchase.
    We'll also invite them to create an account if they don't already have one.

  - unless Rails.env.production?
    .alert.alert-warning
      %h4.alert-heading Test Payment Information
      %h5.alert-heading.text-uppercase Credit Card
      %samp
        4111-1111-1111-1111
        %br
        01/23     100

      %hr
      %h5.alert-heading.text-uppercase PayPal
      %samp
        sb-ktgec5181585@personal.example.com
        %br
        e8#7q>UR

  #payment-container

  %button{type: 'submit', name: 'save', class: 'btn btn-info btn-block mt-3'}
    Place order
    = fa_solid 'cash-register'
