.card-body
  = error_messages_for 'order'
  = error_messages_for 'payment'
  = f.hidden_field :created_at
  %input{type: :hidden, id: :gift_cards, name: :gift_cards, value: params[:gift_cards]}
  %input{type: :hidden, id: :payment_method_nonce, name: :payment_method_nonce}

  %p.card-text
    If you're purchasing seats or a gift card for someone else we'll send them an email letting them know about your purchase.
    We'll also invite them to create an account if they don't already have one.

  - unless Rails.env.production?
    .alert.alert-warning
      %strong Test Credit Card
      %p Use the following Credit Card information when checking out with a card
      %samp 4111-1111-1111-1111
      %br
      %samp 01/23     100

  #payment-container

  %button{type: 'submit', name: 'save', class: 'btn btn-info btn-block mt-3'}
    Place order
    = fa_solid 'cash-register'
