.card
  %h5.card-header.bg-primary.text-white
    = fa_solid 'swatchbook'
    Designs
  - if designs.any?
    %table.table.table-bordered.table-striped.table-border-fix
      %thead
        %tr
          %th Name
          %th Category
      %tbody
        - designs.each do |c|
          %tr
            %td= c.name
            %td= c.design_category.name
  - else
    .card-body
      No designs
