.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h2
    = fa_solid 'sack-dollar'
    Finances
.row
  .col-3
    .card
      %h5.card-header.bg-primary.text-white
        Summary
      %ul.list-group
        %li.list-group-item
          %h5.card-title Payments
          %h5.text-success $243
        %li.list-group-item
          %h5.card-title Credits
          %h5.text-danger $50
        %li.list-group-item
          %h5.card-title Unused gift cards
          %h5.text-info $450
        %li.list-group-item
          %h5.card-title Orders placed
          %h5.text-info 35
  .col-9
    .row
      .col-12
        .alert.alert-info
          %h4.alert-heading
            = fa_regular 'exclamation-triangle'
            Heads Up
          %h5 Refunds Issued
          %p
            %strong 2/24/2019 -
            Daniel Saum $35
          %h5 Sales Tax
          %p
            %strong 2/24/2019 -
            Your Sales Tax is due in 2 days
    .row
      .col-3
        .card
          %h5.card-header.bg-primary.text-white
            Taxes
          %ul.list-group
            %li.list-group-item
              = fa_solid 'percent', 'fa-fw'
              7.25%
            %li.list-group-item
              = fa_solid 'calendar-alt', 'fa-fw'
              00/00/00 - 00/00/00
            %li.list-group-item
              %strong Due
              00/00/00 (2 days)
            %li.list-group-item
              %strong Estimated Liability
              $23.95
      .col-6
        .card
          %h5.card-header.bg-primary.text-white
            Sales Breakdown
          %table.table.table-sm.table-striped.table-bordered.table-border-fix
            %tr
              %td Public Workshops
              %td 1 items
              %td $100.00
            %tr
              %td Private Workshops
              %td 2 items
              %td $100.00
            %tr
              %td Gift Cards
              %td 3 Items
              %td $100.00
      .col-3
        .card
          %h5.card-header.bg-primary.text-white
            Something
          .card-body
            Anything else important. Can be removed.



