
.row
  .col-12
    .btn-toolbar
      .btn-group.mr-2
        %a.btn.btn-outline-secondary{href: admin_stencils_path}
          = fa_regular 'arrow-left'
          Back to Search
      .btn-group
        = link_to 'Edit', edit_admin_stencil_path(@stencil), class: 'btn btn-primary'
        %a.btn.btn-danger{"data-target": "#destroymodal", "data-toggle": "modal", href: "#"}
          Delete
%br
