//
// _shared.scss
// Styles used in both the public and admin portal
//

@import "feathericon/build/scss/feathericon";

// turbo-frame {
//   display: block;
//   border: 1px solid blue;
// }

.body-devise-login {
  font-family: "Abril Fatface";
}

.padded-body {
  padding-top: 5rem;
}

.alert:empty {
  display: none;
}

.thead-gray {
  color: $table-dark-color;
  background-color: $gray-700;
  border-color: $table-dark-border-color;
}

.action-column {
  width: 10%;
}

.table-border-fix {
  margin-bottom: 0;
  border-bottom-style: none;
}

@include media-breakpoint-only(xs) {
  .row > .card {
    margin-bottom: 1em;
  }
}

.btn-group.justified {
  display: flex;
}

.justified .btn {
  flex: 1;
}

#pageLoading {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 99999;
}
#pageLoadingContent {
  display: table;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#pageLoadingSpinner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  font-size: larger;
  padding-top: 80px;
}

.img-pointer {
  cursor: pointer;
}

.img-system-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
