- page_title @employee.full_name, 'Employees'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Employees
        %h1.header-title
          %i.fad.fa-users
          = @employee.full_name
      .col-auto

.card
  .card-header
    %h2.card-header-title Information
  .card-body
    .form-group
      %label
        %strong Role
      .card-text
        =@employee.role
    .form-group
      %label
        %strong Email
        .card-text
          %a{href: "mailto:#{@employee.email}"}= @employee.email
  .card-footer
    %a.btn.btn-outline-secondary{href: admin_employees_path}
      = fa_regular 'arrow-left'
      Back to Search
    = link_to 'Edit', edit_admin_employee_path(@employee), class: 'btn btn-primary'
