- page_title 'Tax Rates'

.header.mt-md-2
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Tax Rates
        %h1.header-title
          %i.fad.fa-percent
          Search
      .col-auto
        = link_to 'New Tax Rate', new_admin_tax_rate_path, class: 'btn btn-primary lift'

.card
  = grid(@tax_rates_grid) do |g|
    - g.row_attributes do |t|
      - { data: { 'clickable-row': '', 'href': edit_admin_tax_rate_path(t) } }
    - g.column name: 'Rate', attribute: 'rate' do |t|
      - number_to_percentage t.rate * 100
    - g.column name: 'Effective Date', attribute: 'effective_date', filter_type: :timeframe_picker
