- page_title 'Customer Search'

.header.mt-md-2
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Customers
        %h1.header-title
          %i.fad.fa-address-book
          Search
      .col-auto
        = link_to 'New Customer', new_admin_customer_path, class: 'btn btn-primary lift'

.card
  = grid(@customers_grid) do |g|
    - g.row_attributes do |t|
      - {data: { 'clickable-row': '', 'href': admin_customer_path(t)}}
    - g.column name: 'First Name', attribute: 'first_name'
    - g.column name: 'Last Name', attribute: 'last_name'
    - g.column name: 'Email Address', attribute: 'email'
