%div{'data-controller': 'seat-wizard-addon-tab--component',
     'data-seat-wizard-addon-tab--component-addon-id-value': @selected_id,
     'data-seat-wizard-addon-tab--component-active-class': 'bg-teal-light'}

  .card-body
    - if @project.addons.active.any?
      %h5.card-title.mt-2 Select an optional add-on

      = hidden_field_tag 'cart[addon_id]', nil, 'data-seat-wizard-addon-tab--component-target': 'input'

      .row
        - @project.addons.active.each do |addon|
          .col-6{'data-id': addon.id}
            %a.card.shadow-light-lg.mb-3{href: '#',
                                         'data-seat-wizard-target': 'addon',
                                         'data-id': addon.id,
                                         'data-action': 'seat-wizard-addon-tab--component#toggle'}
              .card-zoom
                %img.card-img{alt: "Image of #{addon.name}", src: url_for(addon.addon_images.first), loading: 'lazy'}
              .card-body.text-center{'data-seat-wizard-addon-tab--component-target': 'addon',
                                    'data-id': addon.id,
                                    'data-selected': (@selected_id == addon.id).to_s}
                %strong.text-primary= addon.name
                %br
                .text-dark= number_to_currency addon.price
    - else
      .card.mt-2
        .card-body.text-center
          %h2 No Add-ons
          %p.text-muted.mb-0 This project does not have any available add-ons for purchase.

  .card-footer.card-sticky-footer
    %a.btn.btn-primary{href: '#', 'data-action': 'seat-wizard--component#goToTab', 'data-destination': 'project'} Previous

    .float-right
      %a.btn.btn-primary{href: '#', 'data-action': 'seat-wizard--component#goToTab', 'data-destination': 'stencil'} Next