.card.mt-3
  .card-header
    Indvidual Seats
  - if seats.empty?
    .card-body.text-center
      %h2 No Seats
      %p.text-muted.mb-0 Any seats the customer purchases will appear here.
  - else
    - seats.each do |seat|
      .card-body
        .row
          .col
            = render partial: 'admin/statuses/seat', locals: { seat: seat }
            = render(ItemDescriptionDisplay::Component.admin(seat))
          .col-auto
            .btn-group
              - if seat.invoice.present?
                %a.btn.btn-sm.btn-white{:href => admin_invoice_path(seat.invoice)}
                  = fa_duo 'file-invoice'
                  View Invoice
