.row
  .col-12
    .btn-toolbar{'aria-label': 'Order toolbar', role: 'toolbar'}
      .btn-group.mr-2{'aria-label': 'First group', role: 'group'}
        %a.btn.btn-outline-secondary{href: admin_invoices_path}
          = fa_regular 'arrow-left'
          Back to Search
%br
