- unless @customer.invoices.any?
  .card-footer
    .text-muted Customer has no invoices
- else
  %table.table.table-striped.table-bordered.table-border-fix
    %thead
      %tr
        %th Order Number
        %th Date Placed
        %th Amount
    %tbody
      - @customer.invoices.each do |o|
        %tr{data: { 'clickable-row': '', 'href': admin_invoice_path(o) }}
          %td= o.identifier
          %td= l o.created_at, format: :short
          %td= number_to_currency o.grand_total
