- unless invoices.any?
  .card-body.text-center
    %h2 No Invoices
    %p.text-muted.mb-0 Any invoices associated with this customer will appear here.
- else
  .table-responsive.mb-0
    %table.table.table-sm.table-nowrap.card-table.table-hover
      %thead
        %tr
          %th ID
          %th Status
          %th Date Placed
          %th Amount
      %tbody
        - invoices.each do |o|
          %tr
            %td= link_to o.identifier, admin_invoice_path(o)
            %td= render partial: 'admin/statuses/invoice', locals: { invoice: o }
            %td= l o.created_at, format: :short
            %td= number_to_currency o.grand_total
