- page_title 'Project Search'

.header.mt-md-2
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Projects
        %h1.header-title
          %i.fad.fa-sign
          Search
      .col-auto
        = link_to 'New Project', new_admin_project_path, class: 'btn btn-primary lift'

.card
  = grid(@projects_grid) do |g|
    - g.row_attributes do |t|
      - {data: { 'clickable-row': '', 'href': admin_project_path(t)}}
    - g.column name: 'Name', attribute: 'name'
    - g.column name: 'Active?', attribute: 'active'