- page_title 'New', 'Project'

= form_for @project, url: admin_projects_path, local: true do |f|
  .header
    .header-body
      .row.align-items-center
        .col
          %h6.header-pretitle
            Projects
          %h1.header-title
            %i.fad.fa-sign
            New Project
        .col-auto
          = link_to 'Cancel', admin_projects_path, class: 'btn btn-outline-secondary'
          = f.submit 'Create', class: 'btn btn-success'

  = render partial: 'admin/projects/form', locals: { f: f }
