.card
  %h4.card-header.bg-primary.text-white
    = fa_regular 'th-list'
    Tickets
  .table-responsive-md
    %table.table.table-striped.table-bordered.table-border-fix
      %thead
        %tr.bg-primary.text-white
          %th Workshop
          %th.action-column Amount
          %th.action-column Quantity
          %th.action-column Price
      %tbody
