- if stencils.any?
  %table.table.table-bordered.table-striped.mt-2
    %thead.bg-primary.text-white
      %tr
        %th Name
        %th Category
    %tbody
      - stencils.order(:name).each do |c|
        %tr
          %td= link_to c.name, admin_stencil_path(c)
          %td= c.category.name
- else
  .card.mt-2
    .card-body
      .text-muted No stencils
