.card
  - if stencils.any?
    .table-responsive.mb-0
      %table.table.table-sm.table-nowrap.card-table.table-hover
        %thead
          %tr
            %th Name
            %th Category
        %tbody
          - if allow_no_stencil
            %tr
              %td{colspan: 2}= t('seat.no_stencil')
          - stencils.order(:name).each do |c|
            %tr
              %td.d-flex.justify-content-between.align-items-center
                = link_to c.name, admin_stencil_path(c)
                - unless c.active?
                  %span.badge.badge-soft-warning.text-uppercase.badge-pill Inactive
              %td= c.category.name
  - else
    .card-body
      No stencils were found.
