- page_title 'Stencils Search'

.header.mt-md-2
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Stencils
        %h1.header-title
          %i.fad.fa-swatchbook
          Stencil Search
      .col-auto
        = link_to 'New Stencil', new_admin_stencil_path, class: 'btn btn-primary lift'

.card
  = grid(@stencils_grid) do |g|
    - g.row_attributes do |t|
      - {data: { 'clickable-row': '', 'href': admin_stencil_path(t)}}
    - g.column name: 'Name', attribute: 'name'
    - g.column name: 'Category', attribute: 'stencil_category_id', custom_filter: StencilCategory.to_dropdown do |t|
      - t.category.name if t.category
