.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Project Add-ons

- if @addons.any?
  - @addons.each do |addon|
    %h3.text-danger= "#{addon.name} - #{number_to_currency addon.price}"
    .row
      - addon.addon_images.each do |img|
        .row-item.text-center
          %a{href: url_for(img), target: '_blank'}
            %img.img-fluid.img-thumbnail{src: url_for(img)}
- else
  .row.justify-content-center
    .col.col-lg-8.col-md-12
      .card.mt-3
        %img.card-img-top{src: '/cover.jpg'}
        .card-footer.text-center
          %a.btn.btn-primary(href=workshops_public_path)
            View PUBLIC Workshop dates
          %a.btn.btn-primary(href=workshops_private_path)
            View PRIVATE Workshop dates
