// Cosmo 4.5.3
// Bootswatch

// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css?family=Abril+Fatface" !default;
@import url($web-font-path);

// Typography ==================================================================

body {
  -webkit-font-smoothing: antialiased;
}

// Progress bars ===============================================================

.progress {
  @include box-shadow(none);

  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}
