.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h1.card-header.bg-primary.text-white.text-center
        Project Add-ons

- @addons.each do |addon|
  %h3.text-primary= addon.name
  .row
    - addon.addon_images.each do |img|
      .col.text-center
        %a{href: url_for(img)}
          - if img.previewable?
            = image_tag img.preview(resize_to_limit: [300, 300])
          - else
            %img{src: url_for(img), height: 300, width: 300}
