.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Photo Gallery
.row
  .col-12.mb-3
    %h4.text-center.text-info
      Take a look at the AMAZING project our guests (people just like you) have made!
      %br
      We guarantee you'll create a wall worthy project you will be proud to display!
      %br
      What are you waiting for?
      = link_to 'Book your next DIY project!', root_path
.row.text-center.text-lg-left
  - @images.each do |img|
    .row-item.text-center
      %a{href: rails_blob_path(img), target: '_blank'}
        %img.img-fluid.img-thumbnail{alt: 'Gallery image', src: rails_blob_path(img), loading: 'lazy'}
