.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Photo Gallery

.row.text-center.text-lg-left
  - for i in 1..13
    .col-md-6.col-12
      %img.img-fluid.img-thumbnail{alt: '', src: "/gallery/#{i}.jpeg"}

