.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Available Projects


.d-flex.flex-wrap.mb-3
  - @projects.each do |project|
    .row-item.text-center
      - if project.project_images.any?
        %img.img-fluid.img-thumbnail{alt: "Preview of #{project.name}", src: url_for(project.project_images.first)}
      - else
        %img.img-fluid.img-thumbnail{alt: "Image of #{project.name}", src: '/cover.jpg'}
      .text-secondary= link_to project.name, project_path(project.id), class: 'card-link'
