-# %preview Thanks for placing your order! We can't wait for you to join us and get your diy on!

%h5= "#{@seat.customer.full_name},"

%p.mt3
  Your seat to the
  = @seat.workshop.name
  workshop has been canceled. If applicable, a credit or refund will be issued within 48 hours.

%hr
= render(ItemDescriptionDisplay::Component.default(@seat, linkable_title: false))
