-# %preview purchased

%h5.mb-2 Hello #{@seat.customer.full_name}!

%p.mb-2
  #{@seat.invoice.customer.full_name} has purhcased a seat for you to a Sign Junkie workshop!
  The workshop and project details are below.
  You'll recieve a seperate email with details on how to setup your Sign Junkie account.

%hr

%p= render(ItemDescriptionDisplay::Component.receipt(@seat))
