-# %preview Thanks for placing your order! We can't wait for you to join us and get your diy on!

%h5= "#{@seat.customer.full_name},"
%p
  Don't forget that you've been invited to a workshop.
  = "You must make your selection by #{special_date @seat.reservation.workshop.registration_deadline}."

.text-center
  %a.btn.btn-primary.btn-block.mt-2{href: reservation_url(@seat.reservation)} Pick your project today!