@import "../variables";
@import "bootstrap";
@import "../bootswatch";
@import "../global";
@import "select2.min";

$navbar-base-height: 56px;
$sidebar-base-width: 225px;
$sidebar-collapsed-width: 100px;
$sticky-footer-height: 80px;

@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";
@import "navbar.scss";
@import "cards.scss";
@import "login.scss";
@import "footer.scss";

.sidebar-heading {
  text-transform: uppercase;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
