%a.btn.btn-outline-primary.btn-block{"data-target": "#new-seat-modal", "data-toggle": "modal", href: "#"}
  = fa_solid 'plus'
  Add another seat
%a.btn.btn-outline-primary.btn-block{"data-target": "#cancelOrderModal", "data-toggle": "modal", href: "#"}
  = fa_solid 'dollar-sign'
  Make payment
%a.btn.btn-outline-danger.btn-block{"data-target": "#cancel-reservation-modal", "data-toggle": "modal", href: "#"}
  = fa_solid 'ban'
  Cancel reservation