.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "cancelOrderModalLabel", :role => "dialog", :tabindex => "-1", id: "cancel-reservation-#{reservation.id}-modal"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#cancelOrderModalLabel.modal-title Are you sure?
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = t('reservations.cancel.confirmation')
        %br
        %br
        %a{href: policies_path, target: '_blank'} Our refund policy.

      .modal-footer
        %button.btn.btn-secondary{"data-dismiss": "modal", type: "button"} Nevermind
        = form_for :reservation, url: cancel_reservation_path(reservation), class: 'form-inline' do |f|
          = f.hidden_field :id, value: reservation.id
          %button.btn.btn-danger{type: 'submit'} Process cancellation
