#new-ticket-modal.modal.fade{"aria-hidden": "true", "aria-labelledby": "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      = form_for :order_item, url: invoices_path do |f|
        .modal-header
          %h5.modal-title Add Tickets
          %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
            %span{"aria-hidden": "true"} ×
        .modal-body
          .alert.alert-danger#no-tickets-modal-alert{style: 'display: none;'}
            This workshop is sold out.
          #tickets-modal-form{style: 'display: none;'}
            Select how many additional seats you'd like to reserve?
            = f.hidden_field :workshop_id
            .form-row
              .form-group.col
                = f.select :quantity, {}, {}, { class: 'form-control custom-select' }
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss": "modal", type: "button"} Close
          %button.btn.btn-primary{type: "button"} Save changes

- content_for :scripts do
  :javascript
    $('#new-ticket-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var workshop_id = button.data('workshop-id')
      var modal = $(this)
      var select = document.getElementById('order_item_quantity')

      var request = new XMLHttpRequest();
      request.open('GET', '/workshops/' + workshop_id + '.json', true);
      request.onreadystatechange = function() {
        if (this.readyState != 4 || this.status != 200) return;

        var data = JSON.parse(this.response)
        if (data.tickets_available > 0) {
          $('#no-tickets-modal-alert').hide()
          modal.find('.modal-title').text('Add Tickets for ' + data.name)
          $('#tickets-modal-form').show()
          for (var i = 1; i <= data.tickets_available; i++) {
            var opt = document.createElement('option');
            opt.value = i;
            opt.innerHTML = i;
            select.appendChild(opt);
          }
        } else {
          $('#no-tickets-modal-alert').show()
          $('#tickets-modal-form').hide()
        }
      };
      request.send();
    })
