-# %preview Thanks for placing your order! We can't wait for you to join us and get your diy on!

%h5= "#{@reservation.host.full_name},"
%p
  Your reservation to the
  = @reservation.workshop.name
  workshop has been canceled. If applicable, a credit or refund will be issued within 48 hours.