- page_title 'Tax Rates'

.header.mt-md-2
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Tax Periods
        %h1.header-title
          %i.fad.fa-calendar-alt
          Search
      .col-auto
        = link_to 'New Tax Period', new_admin_tax_period_path, class: 'btn btn-primary lift'

.card
  = grid(@tax_periods_grid) do |g|
    - g.row_attributes do |t|
      - {data: { 'clickable-row': '', 'href': edit_admin_tax_period_path(t)}}
    - g.column name: 'Name' do |t|
      - t.name
    - g.column name: 'Start Date', attribute: 'start_date', filter_type: :timeframe_picker
