- page_title 'New', 'Tax Period'

= form_for @tax_period, url: admin_tax_periods_path, local: true do |f|
  .header.mt-md-2
    .header-body
      .row.align-items-center
        .col
          %h6.header-pretitle
            Tax Periods
          %h1.header-title
            %i.fad.fa-calendar-alt
            New Tax Period
        .col-auto
          = link_to 'Cancel', admin_tax_periods_path, class: 'btn btn-outline-secondary'
          = f.submit 'Create', class: 'btn btn-success'

  = render partial: 'admin/tax_periods/form', locals: { f: f }
