- page_title @announcement.title, 'Announcements'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Announcements
        %h1.header-title
          %i.fad.fa-sign
          = @announcement.title
      .col-auto


.row.justify-content-center
  .col.col-lg-8.col-md-12
    .card.mt-3
      .card-body
        Announcement
