%li.nav-item{role: "presentation"}
  %a{id: "#{@name}-tab", href: "##{@name}", class: css_class, 'data-seat-wizard--component-target': "#{@name}Tab",
     "aria-controls": @name, "aria-selected": "true", "data-toggle": "tab", role: "tab"}
    = body
