.card
  %h5.card-header.bg-primary.text-white
    = fa_solid 'swatchbook'
    Addons
  %table.table.table-bordered.table-striped.table-border-fix
    %thead
      %tr
        %th Name
        %th Price
    %tbody#addons
      - addons.each do |addon|
        = render addon
