.card.mt-2
  %h5.card-header.bg-primary.text-white
    = fa_solid 'stamp'
    Addons
  - if addons.any?
    %table.table.table-bordered.table-striped.table-border-fix
      %thead
        %tr
          %th Name
          %th Price
      %tbody#addons
        - addons.each do |addon|
          %tr
            %td= addon.name
            %td= number_to_currency(addon.price)
  - else
    .card-body
      No addons
