- page_title @addon.name, 'Add-ons'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Project Add-ons
        %h1.header-title
          %i.fad.fa-stamp
          = @addon.name
      .col-auto
        = render partial: 'admin/addons/header'

.row
  .col-12.col-lg-4
    .card
      .card-body
        .row.align-items-center
          .col
            %h5.mb-0 Status
          .col-auto
            %small.text-muted
              - if @addon.active?
                %span.text-success ●
                Active
              - else
                %span.text-warning ●
                Inactive
        %hr
        .row.align-items-center
          .col
            %h5.mb-0 Price
          .col-auto
            %small.text-muted= number_to_currency @addon.price
  .col-12.col-lg-8
    = render partial: 'admin/images/list', locals: { images: @addon.addon_images.order(:created_at) }
