- page_title @addon.name, 'Add-ons'

= render partial: 'admin/addons/header'

.row
  .col-12.col-lg-4
    .card
      %h5.card-header.d-flex.align-items-center.bg-primary.text-white
        = @addon.name
      .card-body
        .form-group
          %label.col-form-label Price
          .form-control-plaintext= number_to_currency @addon.price
  .col-12.col-lg-8
    = render partial: 'admin/images/list', locals: { images: @addon.addon_images }
