- page_title @addon.name, 'Add-ons'

.header.mt-md-2
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Project Add-ons
        %h1.header-title
          %i.fad.fa-stamp
          = @addon.name
      .col-auto
        = render partial: 'admin/addons/header'

.row
  .col-12.col-lg-4
    .card
      .card-header
        %h3.card-header-title Information
      .card-body
        .form-group
          %label.col-form-label Price
          .form-control-plaintext= number_to_currency @addon.price
  .col-12.col-lg-8
    = render partial: 'admin/images/list', locals: { images: @addon.addon_images }
