#tree

- content_for :scripts do
  :javascript
    $(function(){
      $("#tree").fancytree({
        extensions: ["edit"],
        source: {url: "ajax-tree-products.json"},
        lazyLoad: function(event, data) {
          data.result = { url: "ajax-sub2.json", debugDelay: 1000 };
        },
        edit: {
          triggerStart: ["clickActive", "dblclick", "f2", "mac+enter", "shift+click"],
          beforeEdit: function(event, data){
          },
          edit: function(event, data) {
          },
          beforeClose: function(event, data) {
            console.log(event.type, event, data);
            if( data.originalEvent.type === "mousedown" ) {
            }
          },
          save: function(event, data){
          console.log("save...", this, data);
            setTimeout(function(){
              $(data.node.span).removeClass("pending");
              data.node.setTitle(data.node.title + "!");
            }, 2000);
            return true;
          },
          close: function(event, data){
            if( data.save ) {
              $(data.node.span).addClass("pending");
            }
          }
        }
      });
    });
