.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h2
    = fa_solid 'cogs'
    Settings
.row
  .col-3
    #v-pills-tab.nav.flex-column.nav-pills{"aria-orientation" => "vertical", :role => "tablist"}
      -# %a#v-pills-refundss-tab.nav-link.active{"aria-controls" => "v-pills-refunds", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-refunds", role: "tab"} Refund Reasons
      %a#v-pills-stencils-tab.nav-link.active{"aria-controls" => "v-pills-stencils", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-stencils", role: "tab"} Stencil Categories
      -# %a#v-pills-taxperiods-tab.nav-link{"aria-controls" => "v-pills-taxperiods", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-taxperiods", role: "tab"} Tax Periods
      -# %a#v-pills-taxrates-tab.nav-link{"aria-controls" => "v-pills-taxrates", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-taxrates", role: "tab"} Tax Rates
  .col-9
    #v-pills-tabContent.tab-content
      -# #v-pills-refunds.tab-pane.fade.show.active{"aria-labelledby" => "v-pills-settings-tab", :role => "tabpanel"}
      -#   = render 'refund_reasons'
      -# #v-pills-taxperiods.tab-pane.fade{"aria-labelledby" => "v-pills-home-tab", :role => "tabpanel"}
      -#   = render 'admin/tax_periods/list'
      -# #v-pills-taxrates.tab-pane.fade{"aria-labelledby" => "v-pills-profile-tab", :role => "tabpanel"}
      -#   = render 'admin/tax_rates/list'
      #v-pills-stencils.tab-pane.fade.show.active{"aria-labelledby" => "v-pills-messages-tab", :role => "tabpanel"}
        = render 'stencil_categories'

= content_for :styles do
  %style{src: "https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"}

= content_for :scripts do
  %script{src: "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"}
  %script{src: "https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"}
  :javascript
    $('#refund_table').DataTable();
    $('#addons_table').DataTable();
