- page_title 'Reports'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Reports
        %h1.header-title
          %i.fad.fa-analytics
          All Reports

.card
  %table.table.table-striped.card-table
    %tr
      %th Report Title
      %th Description
    %tr
      %td= link_to 'New Customers', admin_new_customers_report_path
      %td List of all new customers that were added between a certain timeframe.
    %tr
      %td= link_to 'Sales Tax Liability', admin_sales_tax_report_path
      %td Summary of all taxable and non-taxable sales with a total of sales tax collected.
    %tr
      %td= link_to 'Workshop Guest List', admin_guest_list_report_path
      %td Attendee list for a workshop.
