.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h2
    = fa_solid 'analytics'
    Reports
.row
  %ul.list-group
    %a.list-group-item.list-group-item-action{data: { 'clickable-row': '', href: admin_reports_path }}
      Sales Tax Liability
