- page_title 'Reports'

.header.mt-md-2
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Reports
        %h1.header-title
          %i.fad.fa-analytics
          All Reports

%table.table
  %tr
    %th Report Title
    %th Description
  %tr{data: { 'clickable-row': '', href: admin_new_customers_report_path }}
    %td New Customers
    %td List of all new customers that were added between a certain timeframe.
  %tr{data: { 'clickable-row': '', href: admin_sales_tax_report_path }}
    %td Sales Tax Liability
    %td Summary of all taxable and non-taxable sales with a total of sales tax collected.
  %tr{data: { 'clickable-row': '', href: admin_guest_list_report_path }}
    %td Workshop Guest List
    %td Attendee list for a workshop.
