#cancel-ticket-modal.modal.fade{"aria-hidden": "true", "aria-labelledby": "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg{role: "document"}
    .modal-content
      .modal-header
        %h5.modal-title Cancel Reservations
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} ×
      .modal-body
        = form_for :cancel, url: order_cancel_items_path(@order), html: { id: :cancel_tickets } do |f|
          = f.hidden_field :order_item_ids
        %table#tickets-table.table.table-sm.table-bordered.table-striped
          %thead
            %tr
              %th Ticket
              %th Attendee
              %th Project
              %th.text-right Refund
          %tbody
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss": "modal", type: "button"} Close
        %button.btn.btn-primary{type: 'button', onclick: 'cancelTickets();', id: 'cancel-ticket-submit-button'} Cancel Seatss
        %button.btn.btn-primary{type: 'button', disabled: true, style: 'display: none', id: 'cancel-ticket-loading-button'}
          %span.spinner-border.spinner-border-sm
          Canceling...

- content_for :scripts do
  :javascript
    $('#cancel-ticket-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var orderId = button.data('order-id')
      var workshopId = button.data('workshop-id')
      var modal = $(this)
      var table = document.getElementById('tickets-table')
      var currentTbody = table.getElementsByTagName('tbody')[0]

      var request = new XMLHttpRequest();
      var url = '/orders/' + orderId + '/items_by_workshop/' + workshopId + '.json'
      request.open('GET', url, true);
      request.onreadystatechange = function() {
        if (this.readyState != 4 || this.status != 200) return;

        var data = JSON.parse(this.response)
        modal.find('.modal-title').text('Cancel Reservations for ' + data.name)

        if (data.tickets.length > 0) {
          var newTbody = document.createElement('tbody')
          for (var i = 0; i < data.tickets.length; i++) {
            var row = newTbody.insertRow(-1);
            var info = row.insertCell(-1);
            var attendee = row.insertCell(-1);
            var project = row.insertCell(-1);
            var price = row.insertCell(-1);
            price.className += 'text-right'

            var div = document.createElement('div')
            div.className += 'custom-control custom-checkbox'

            var checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.className += 'custom-control-input'
            checkbox.dataset.orderItemId = data.tickets[i]['id']
            checkbox.id = 'ticket-' + checkbox.dataset.orderItemId

            var label = document.createElement('label')
            label.className = 'custom-control-label'
            label.innerHTML = data.tickets[i]['identifier']
            label.htmlFor = 'ticket-' + checkbox.dataset.orderItemId

            div.appendChild(checkbox)
            div.appendChild(label)
            info.appendChild(div);
            attendee.innerHTML = data.tickets[i]['assignee'];
            project.innerHTML = data.tickets[i]['project'];
            price.innerHTML = data.tickets[i]['price'];
          }
          currentTbody.parentNode.replaceChild(newTbody, currentTbody);
        }
      };
      request.send();
    });
    function getTicketsForCancel() {
      var checkboxes = document.querySelectorAll("input[id^='ticket-']:checked");
      var checkboxesChecked = [];
      for (var i = 0; i < checkboxes.length; i++) {
         checkboxesChecked.push(checkboxes[i].dataset.orderItemId)
      }
      return checkboxesChecked.length > 0 ? checkboxesChecked : null;
    }
    function cancelTickets() {
      var tickets = getTicketsForCancel()
      if (tickets != null && tickets.length > 0) {
        document.getElementById('cancel-ticket-loading-button').style.display = 'block'
        document.getElementById('cancel-ticket-submit-button').style.display = 'none'
        document.getElementById('cancel_order_item_ids').value = tickets
        document.getElementById('cancel_tickets').submit()
      } else {

      }
    };
