- unless @customer.notes.any?
  .card-footer
    .text-muted No notes have been entered.
- else
  %table.table.table-striped.table-bordered.table-border-fix.table-hover
    %tbody
      - @customer.notes.each do |n|
        %tr{edit_note_link(n, current_user)}
          %td
            %pre
              - if n.is_flagged
                = fa_regular 'flag', 'text-warning'
              = n.content
            %span
              %strong="#{n.author.full_name}"
              ="on #{l n.created_at, format: :short}"