- unless images.any?
  .card.mt-2
    .card-body
      .text-muted No images have been uploaded
- else
  .row
    - images.order(:created_at).each do |img|
      .col-12.col-md-4.text-center
        %img.img-fluid.img-thumbnail{src: url_for(img), href: '_blank'}
        = link_to "Delete", admin_delete_image_path(img), method: :delete, class: "btn btn-sm btn-outline-danger", data: {confirm: 'Are you sure want to delete this image? This can not be undone!'}
