%h5 Welcome #{@resource.full_name}!
%p You can confirm your account email through the link below.
.text-center
  %a.btn.btn-primary.btn-block.mt-2{href: confirmation_url(@resource, confirmation_token: @token)}
    Confirm my account
