%h5 Hello #{@resource.full_name}!
%p
  Someone has requested a link to change your password. You can do this through the link below.
  If you didn't request this, please ignore this email! Your password won't change until you access the link above and
  create a new one.

.text-center
  %a.btn.btn-primary.btn-block.mt-2{href: edit_password_url(@resource, reset_password_token: @token)}
    Change my password
