:css
  .action-column {
    width: 6%;
  }
  .text-right {
    text-align: right;
  }
  .table {
    th, td {
      padding: 1px;
      vertical-align: top;
      border-top: 1px solid black;
    }
  }