%ul.navbar-nav
  %li.nav-item{class: ('active' if current_page?(root_path))}
    = link_to 'Home', root_path, class: 'nav-link'
  %li.nav-item.dropdown
    %a#userDropdown.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", role: "button"}
      About
    .dropdown-menu{"aria-labelledby": "userDropdown"}
      %a.dropdown-item{href: policies_path} Policy
      %a.dropdown-item{href: waiver_path} Waiver
      %a.dropdown-item{href: contact_path} Contact Us
      %a.dropdown-item{href: faq_path} Frequenty Asked Questions
  %li.nav-item.dropdown
    %a#userDropdown.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", role: "button"}
      Projects
    .dropdown-menu{"aria-labelledby": "userDropdown"}
      %a.dropdown-item{href: projects_path} Projects & Designs
      %a.dropdown-item{href: addons_path} Addons
      %a.dropdown-item{href: they_made_path} Look what they made
  %li.nav-item.dropdown
    %a#userDropdown.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", role: "button"}
      Private Workshops
    .dropdown-menu{"aria-labelledby": "userDropdown"}
      %a.dropdown-item{href: workshops_private_path} Something
  %li.nav-item{class: ('active' if current_page?(gift_cards_path))}
    = link_to 'Gift Cards', gift_cards_path, class: 'nav-link'
