%ul.navbar-nav
  %li.nav-item{class: ('active' if current_page?(home_path))}
    = link_to 'Our Events', home_path, class: 'nav-link text-white'
%ul.navbar-nav.ml-auto
  %li.nav-item
    = link_to new_user_session_path, class: 'nav-link text-white' do
      = fa_solid 'sign-in'
      Log In
