.d-block.d-sm-none
  .alert.alert-info XS
.d-none.d-sm-block.d-md-none
  .alert.alert-info SM
.d-none.d-md-block.d-lg-none
  .alert.alert-info MD
.d-none.d-lg-block.d-xl-none
  .alert.alert-info L
.d-none.d-xl-block
  .alert.alert-info XL