- page_title 'Finances'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle= welcome_message
        %h1.header-title
          %i.fad.fa-sack-dollar
          Finances Dashboard

.row
  .col-3
    .card
      .card-body
        .row.align-items-center
          .col
            %h6.card-title.text-uppercase.text-muted.mb-2
              Payments
            %span.h2.mb-0.text-success $243
          .col-auto
            %span.h2.fas.fa-briefcase.text-muted.mb-0
    .card
      .card-body
        .row.align-items-center
          .col
            %h6.card-title.text-uppercase.text-muted.mb-2
              Refunds
            %span.h2.mb-0.text-danger $50
          .col-auto
            %span.h2.fas.fa-briefcase.text-muted.mb-0
    .card
      .card-body
        .row.align-items-center
          .col
            %h6.card-title.text-uppercase.text-muted.mb-2
              Unused credits
            %span.h2.mb-0.text-info $450
          .col-auto
            %span.h2.fas.fa-briefcase.text-muted.mb-0
    .card
      .card-body
        .row.align-items-center
          .col
            %h6.card-title.text-uppercase.text-muted.mb-2
              Total Invoices
            %span.h2.mb-0.text-info 1
          .col-auto
            %span.h2.fas.fa-briefcase.text-muted.mb-0
  .col-9
    .row
      .col-12
        .alert.alert-info
          %h4.alert-heading
            = fa_regular 'exclamation-triangle'
            Heads Up
          %h5 Refunds Issued
          %p
            %strong 2/24/2019 -
            Daniel Saum $35
          %h5 Sales Tax
          %p
            %strong 2/24/2019 -
            Your Sales Tax is due in 2 days
    .row
      .col-3
        .card
          .card-header
            %h5.card-header-title Taxes
          %ul.list-group
            %li.list-group-item
              = fa_solid 'percent', 'fa-fw'
              7.25%
            %li.list-group-item
              = fa_solid 'calendar-alt', 'fa-fw'
              00/00/00 - 00/00/00
            %li.list-group-item
              %strong Due
              00/00/00 (2 days)
            %li.list-group-item
              %strong Estimated Liability
              $23.95
      .col-6
        .card
          .card-header
            %h5.card-header-title Sales Breakdown
          %table.table.card-table
            %tr
              %td Seats
              %td 1 items
              %td $100.00
            %tr
              %td Reservations
              %td 2 items
              %td $100.00
            %tr
              %td Gift Cards
              %td 3 Items
              %td $100.00
      .col-3
        .card
          .card-header
            %h5.card-header-title Something
          .card-body
            Anything else important. Can be removed.
