.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        About Us

%h4.text-center.text-info.text-uppercase Sign Junkie
%p.text-center
  Sign Junkie is a DIY Workshop that offers a wide variety of practical and unique wood home
  decor workshops. Our DIY workshops are sure to provide a FUN hands on experience like
  you’ve never had before!

%h4.text-center.text-info.text-uppercase What to expect
%p.text-center
  At one of our workshops you can except to transform raw materials into something you will be
  proud to display in your home or give as a gift. Our skilled instructors will guide you
  step-by-step through the different painting, staining, and finishing techniques.

%h4.text-center.text-info.text-uppercase We Value Quality
%p.text-center
  At Sign Junkie we value quality! All the wood is hand selected and never treated with harmful
  chemicals; It’s rich in character featuring strong grain patterns, beautiful knots, and color
  variations. Our projects are built in house by skilled and experienced carpenters.

%h4.text-center.text-info.text-uppercase Meet the Owner
%p.text-center
  Sign Junkie is the creation of Martha Rusler. Martha has always had a passion for designing and
  creating DIY projects. She envisioned having a space where people could gather to create their
  own DIY projects in a relaxing and fun environment. Martha and her husband John renovated a pole
  barn on their property into a unique, one of a kind, DIY workshop space that also features a
  retail boutique with handcrafted items.
