.card
  .card-header
    Coming Soon!
  %img.card-img-top{src: '/cover.jpg'}
  .card-body
    %h5.card-title Thanks for stopping by
    %p.card-text
      We're in the process of setting everything up so check back soon!
      In the meantime, please visit our Facebook page to stay updated.
    %a.btn.btn-primary{href: 'https://www.facebook.com/signjunkieworkshop/'}
      = fa_brands 'facebook'
      Facebook
