.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Frequently Asked Questions

%ul.list-group
  - @questions.each do |item|
    %li.list-group-item
      %h5.text-danger.text-uppercase= item['question']
      = item['answer'].html_safe
