.row
  .col-12.mb-3
    .col.d-none.d-md-inline
      %h4.text-info.text-center
        A gift card to Sign Junkie makes a wonderful present for that someone special in your life!
    .col.d-md-none
      %h6.text-info.text-center
        A gift card to Sign Junkie makes a wonderful present for that someone special in your life!

  .col-12.col-lg-6.mb-2
    %img.card-img-top{alt: 'Gift card', src: asset_pack_path('media/images/gift_card.jpg')}
  .col-12.col-lg-6
    - if user_signed_in?
      %gift-card-selector
    - else
      %a.btn.btn-primary.btn-block.btn-lg(href=new_user_session_path)
        = fa_solid 'sign-in'
        Log In or Sign up to add this to your cart
