.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h1.card-header.bg-primary.text-white.text-center
        How it Works
        %br
        %small HOW TO BOOK YOUR WORKSHOP

.row
  .col
    1

    Select BOOK A WORKSHOP from the HOME page and choose the workshop and date that you would
    like to attend. You can come alone or invite friends and family to join you!

  .col
    2

    When you BOOK A WORKSHOP, you will choose your project and stencil design from our many
    options and enter your project information so we can prepare your materials before you arrive.
    Register and pay online so you are all set to get your DIY on with us!

  .col
    3

    At your workshop we provide all of the tools, materials and instructions needed for you to create
    your own custom project. Bring your favorite beverage & snacks, and HAVE FUN!
    Most workshops take around 3 hours to complete and at the end you will get to take your finished
    project home to enjoy!
