.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        %span - HOW IT WORKS -
        %br
        %small HOW TO BOOK YOUR WORKSHOP

.row
  .col.text-center
    %h3.text-info 1
    %p.card-text
      Go to the
      %a{href: root_path} HOME
      page and select View our Workshop Dates to choose the workshop and date that you would
      like to attend. You can come alone or invite friends and family to join you!

  .col.text-center
    %h3.text-info 2
    %p.card-text
      When you select your workshop, you will choose your project and stencil design from our many
      options and enter your project information so we can prepare your materials before you arrive.
      Register and pay online so you are all set to get your DIY on with us!

  .col.text-center
    %h3.text-info 3
    %p.card-text
      At your workshop we provide all of the tools, materials and instructions needed for you to create
      your own custom project. Bring your favorite beverage & snacks, and HAVE FUN!
      Most workshops take around 3 hours to complete and at the end you will get to take your finished
      project home to enjoy!
