.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Book a Workshop

.row
  .col-12.col-md-6
    .card.mb-3
      %h5.card-header.text-center
        Public Workshops
      %img.card-img-top{:alt => "A group of DIY-ers with their creations", :src => "/Public.jpeg"}
      .card-body
        .card-text
          Register to come alone or with family or friends!
          Indicate your seating preference at checkout, and we will do our best to seat you together.
      .card-footer.text-center
        %a.btn.btn-primary.btn-block(href=workshops_public_path)
          View our PUBLIC Workshop Dates

  .col-12.col-md-6
    .card.mb-3
      %h5.card-header.text-center
        Private Workshops
      %img.card-img-top{:alt => 'A group of DIY-ers with their creations', :src => "/Private.jpeg"}
      .card-body
        .card-text
          Want the place to yourself? If you have a large group (minimum 12 guests and maximum 18 depending on the size
          of the project), you can reserve the entire space.
      .card-footer.text-center
        %a.btn.btn-primary.btn-block(href=workshops_private_path)
          View our PRIVATE Workshop Dates
