.row.justify-content-center.mt-3
  .col-12
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Book a Workshop

  .col-12
    .alert.alert-info
      Due to COVID-19, all guests will be required to have their temperature taken upon arrival and before
      entering Sign Junkie. Guests 
      %strong MUST 
      provide their own mask to wear throughout the entire workshop.
      Noncompliance will result in a
      %strong NO 
      refund and you will
      %strong NOT
      be able to attend the workshop.
      There has been temporary changes to the number of guests allowed at a workshop.
      The maximum number of guests is now 12 instead of 18.

.row
  .col-12.col-md-6
    .card.mb-3
      %h5.card-header.text-center
        Public Workshops
      %img.card-img-top{:alt => "A group of DIY-ers with their creations", :src => "/Public.jpeg"}
      .card-body
        .card-text
          Register to come alone or with family or friends! If you have a small group (minimum 4 guests and maximum 8) 
          you can reserve a group reservation within a public workshop.
      .card-footer.text-center
        %a.btn.btn-primary.btn-block(href=workshops_public_path)
          View our PUBLIC Workshop Dates

  .col-12.col-md-6
    .card.mb-3
      %h5.card-header.text-center
        Private Workshops
      %img.card-img-top{:alt => 'A group of DIY-ers with their creations', :src => "/Private.jpeg"}
      .card-body
        .card-text
          Want the place to yourself? If you have a large group (minimum 6 guests and maximum 12 depending on the size
          of the project), you can reserve the entire space.
      .card-footer.text-center
        %a.btn.btn-primary.btn-block(href=workshops_private_path)
          View our PRIVATE Workshop Dates
