.row.justify-content-center.mt-3
  .col-12
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Book a Workshop

  - if @announcements.any?
    .col-12
      - @announcements.each do |announcement|
        .alert.alert-info
          = announcement.content
.row
  .col-12.col-md-4
    .card.mb-3
      %h5.card-header.text-center
        Public Workshops
      %img.card-img-top{:alt => "A group of DIY-ers with their creations", src: asset_path("Public.jpeg")}
      .card-body
        .card-text
          Register to come alone or with family or friends! If you have a small group (minimum 4 guests and maximum 8)
          you can reserve a group reservation within a public workshop.
      .card-footer.text-center
        %a.btn.btn-primary.btn-block(href=workshops_public_path)
          View our PUBLIC Workshop Dates

  .col-12.col-md-4
    .card.mb-3
      %h5.card-header.text-center
        Private Workshops
      %img.card-img-top{:alt => 'A group of DIY-ers with their creations', src: asset_path("Private.jpeg")}
      .card-body
        .card-text
          Want the place to yourself? If you have a large group (minimum 6 guests and maximum 12 depending on the size
          of the project), you can reserve the entire space.
      .card-footer.text-center
        %a.btn.btn-primary.btn-block(href=workshops_private_path)
          View our PRIVATE Workshop Dates

  .col-12.col-md-4
    .card.mb-3
      %h5.card-header.text-center Custom Sign Orders
      %img.card-img-top{:alt => 'A group of DIY-ers with their creations', src: asset_path("Private.jpeg")}
      .card-body
        .card-text
          TBD
      .card-footer.text-center
        %a.btn.btn-primary.btn-block(href=workshops_private_path)
          CUSTOM SIGN ORDERS
