.row.justify-content-center.mb-3
  .col
    .card
      %h1.card-header.bg-primary.text-white.text-center Book a Workshop

.row.mt-3
  .col
    .card
      %h5.card-header.text-center
        Public Workshops
      %img.card-img-top{:alt => "A group of DIY-ers with their creations", :src => "/Public.jpeg"}
      .card-body
        .card-text
          Register to come alone or with family or friends!
          Indicate your seating preference at checkout, and we will do our best to seat you together.
      .card-footer.text-center
        %a.btn.btn-primary.btn-block.btn-lg(href=workshops_public_path)
          View our PUBLIC Workshop Dates

  .col
    .card
      %h5.card-header.text-center
        Private Workshops
      %img.card-img-top{:alt => 'A group of DIY-ers with their creations', :src => "/Private.jpeg"}
      .card-body
        .card-text
          Want the place to yourself? If you have a large group
          = "(minimum #{Workshop.private_min} guests and maximum #{Workshop.private_max}"
          depending on the size of the project), you can reserve the entire space.
          -# Can't meet our minimum? Request a group table at a public workshops.
      .card-footer.text-center
        %a.btn.btn-primary.btn-block.btn-lg(href=workshops_private_path)
          View our PRIVATE Workshop Dates
