.row
  .col-3
    = render partial: 'workshops/filters'
  .col-9
    - if @workshops.any?
      = render partial: "workshops/#{@view}"
    - else
      %h3 Looks like we didn't have any workshops that matched that criteria.
