%h1
  = fa_light 'history'
  Order History

.row
  .col-8
  .col-4
    .card
      %h4.card-header.bg-primary.text-white
        = fa_light 'user-circle'
        Account Management
      %ul.list-group.list-group-flush
        %li.list-group-item.list-group-item-action{data: { 'clickable-row': '', href: addresses_path }}
          = fa_solid 'address-book'
          Addresses
        %li.list-group-item.list-group-item-action{data: { 'clickable-row': '', href: edit_user_registration_path }}
          = fa_solid 'key'
          Login, name, and mobile number