.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        = fa_solid 'gift-card'
        My Credits

- if @credits.empty?
  %h5.card-title It looks like you haven't purchased any gift cards.

  %a.btn.btn-info.btn-block(href=workshops_public_path)
    View PUBLIC Workshop dates
  %a.btn.btn-info.btn-block(href=workshops_private_path)
    View PRIVATE Workshop dates
- else
  .table-responsive-md
    %table.table.table-bordered.table-striped
      %thead.bg-primary.text-white
        %tr
          %th Balance
          %th Issue Date
          %th Expiration Date
      %tbody
        - @credits.each do |o|
          %tr
            %td= number_to_currency o.balance
            %td= o.created_at.strftime("%B %-d, %Y")
            %td= o.expiration_date
