.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h1.card-header.bg-primary.text-white.text-center
        Workshop Policies

%p
  Upon arrival and before entering our workshop, you will be required to review and sign our Waiver of Liability form.

%p
  %span.text-primary Arriving on Time:
  We ask that you arrive 15-20 minutes prior to the start time of the workshop so that we can start on time.

%p
  %span.text-primary Late Arrivals:
  Anyone arriving any later than 15 minutes after the start time will not be allowed to enter the workshop AND their reservation fee
  will NOT be refunded. Thank you for understanding!

%p
  Only registered guests will be permitted into the workshop area. Because of workshop size, available seating and fire code, we are limited to
  the number of people allowed in the workshop area.

%p
  Because of the time constraints and the way our workshops are instructed, we can only allow each person to make ONE project per workshop.
  If there are multiple designs you would like, we suggest finding a friend to purchase a spot and make it for you.

%p
  Unless noted, ALL workshops are for adults only! You must be at least 16 years old to attend an adult workshop. If you are not at least 18 years
  of age your Waiver of Liability form must be signed by a parent or guardian.

%p
  %span.text-primary Food and Alcohol:
  YOU MUST be at least 21 years old to bring/consume alcohol. Please feel free to bring beer, wine, and food with you to the workshop.
  We also sell a variety of non-alcoholic beverages and snacks on the premises. We ask that you consume alcohol responsibly, and designate a driver.

%p
  %span.text-primary DIY and Tools:
  You will be using electric sanders, drills, staple/nail guns, sand paper, latex paints, water based stains and decorative all natural waxes.

%p
  %span.text-primary Please Note:
  ALL of our projects involve wood! No two pieces of wood are alike! Grains, texture and aging is different in every piece of wood.
  There will be knots, chips, cracks, and other NATURAL blemishes that give it character! Your sign may have slight bleeding and/or wood peeling.
  You always have the option to leave the wood natural, paint or stain it. If your project is being displayed outside or in an area prone to moisture we
  recommend that you protect it using the sealer or polyurethane of your choice which you can purchase at any local home improvement store.

%p
  %span.text-primary Project Change Request:
  Please note, the design you choose at registration will be the design you receive at your workshop.
  Please check your spelling. No changes may be made once your order is placed. We would be happy to accommodate your request for a design change for a
  $10 stencil re-cut fee, payable upon the start of your workshop.

%p
  %span.text-primary No Project Do-Overs:
  There are no project do-overs! The instructors advice and assist you in the selection of paint colors and techniques but
  ultimately the final paint color and technique is yours. If you choose colors that you later (when the workshop is done) wish you would have chosen differently,
  you can not request to come back and do your project over.

%p
  %span.text-primary Cancellation Policy:
  Due to the custom nature of ALL our workshops, there are NO REFUNDS! However, if you cancel with at least 48 hours notice your FULL reservation
  fee will be turned into a credit that can ONLY be used for a future workshop. If your cancellation falls within 48-24 hours of the workshop, HALF of your registration
  fee will be turned into a workshop credit. If unforeseen circumstances require you to cancel the SAME DAY of a workshop you are scheduled to attend, we suggest you
  find a friend or family member to come in your place so that you are not out the registration fee you paid. Same day cancellations or no-shows will NOT get a credit
  for a future workshop, you forfeit your payment! Please email us (signjunkie@columbus.rr.com) to cancel.

%p
  %span.text-primary Cancellation Policy:
  If for some reason our management deems it necessary to cancel or reschedule a workshop due to attendance for a workshop is 4 or less attendees,
  hazardous weather, or for some unforeseen matter, all our registered guest will be notified as early as possible via text message and/or email.
  If a workshop is cancelled, your FULL reservation fee will be credited back to the card or account you originally paid with, within 48 hours after your workshop was cancelled.
  Please allow 3-5 business days for your bank to credit your account.
