.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Hostess Guidelines

%p
  In order to secure THIS date, you MUST submit the $100 deposit. Please read below to see what is required to get your $100 deposit refunded.

%p
  As the hostess, YOU are responsible for inviting guests and making sure they
  register by your workshop deadline, which is clearly listed on your exclusive
  registration link. The deadline for ALL guest to register is 7 days prior to your event.

%p
  If you (the hostess) cancel or reschedule your event for ANY reason your deposit will be forfeited and your registered guests
  will receive an email notification of cancellation and a reservation fee refund.

%p
  To get your $100 deposit back, you MUST have at least 12 guests (including yourself) register AND ATTEND your event. The deposit will be refunded
  within 48 hours after your event takes place. If you do NOT get at least 12 guests (including yourself) registered by the deadline your deposit will NOT
  be refunded or credited…it will be forfeited. Your event will NOT be cancelled. Those that have booked may still attend, but we would open the workshop
  to the public to try and fill any empty seats.

%p
  If someone registers and has to cancel, their registration fee will be forfeited. We suggest you work with them to find someone
  to take their place and do the project that was selected. Keep in mind, your deposit will only be refunded IF at least 12 people register and attend your event.

%p
  Private Workshops will have exclusive access of our workshop for 3 hours on
  the date and time you secure. The only exception to this is if you do not meet your 12 guest minimum then the
  workshop will be open to the public to try and fill any empty seats. ALL guests that plan to attend MUST register by the deadline!
  ONLY those who have registered can enter the workshop so please be sure everyone registers.

%p
  Everyone attending an ADULT workshop MUST BE 16 years of age or older. If you reserve a Private Workshop for your child, children over the age of 8 are welcome to attend.
  EVERY child attending between the age of 8-17 years old must have a paid reservation and a parent or guardian with them to sign a Waiver of Liability.
  There is NO drop-offs so plan on staying until your child is done at the event.

%p
  %span.text-primary Project Change Request:
  Please note, the design you choose at registration will be the design you receive at your workshop.
  Please check your spelling. No changes may be made once your order is placed. We would be happy to accommodate your request for a design change for a
  $10 stencil re-cut fee, payable upon the start of your workshop.

%p
  %span.text-primary No Project Do-Overs:
  There are no project do-overs! The instructors advice and assist you in the selection of paint colors and techniques but
  ultimately the final paint color and technique is yours. If you choose colors that you later (when the workshop is done) wish you would have chosen differently,
  you can not request to come back and do your project over.

%p
  Please make sure you and your guests arrive 15-20 minutes before the start of your event. Anyone arriving any more than 15 minutes late will NOT be allowed to enter and their registration fee will not be returned.

%p
  You are welcome to bring food and drinks, even beer and wine, as well as supplies such as plates, serving ware, napkins etc.
  If you or anyone brings alcohol, EVERYONE consuming must be at least 21 years old or older.
  NO ALCOHOL consumption is allowed at Private Workshops for children!

%p
  EVERYONE that attends our workshops MUST sign a
  %a{href: waiver_path} Waiver of Liability
  upon arrival.

%p
  If you would like more information! Send us an email at
  %a{href: 'mailto:signjunkie@columbus.rr.com'} signjunkie@columbus.rr.com

%p
  %span.text-primary Cancellation Policy:
  If for some reason our management deems it necessary to cancel or reschedule a workshop due to attendance for a workshop is 4 or less attendees,
  hazardous weather, or for some unforeseen matter, all our registered guest will be notified as early as possible via text message and/or email.
  If a workshop is cancelled, your FULL reservation fee will be credited back to the card or account you originally paid with, within 48 hours after your workshop was cancelled.
  Please allow 3-5 business days for your bank to credit your account. To begin cancelling an order head over to the
  %a{href: invoices_path} MY ORDERS PAGE.
