.row.justify-content-center.mt-3
  .col
    .card.mb-3
      %h2.card-header.bg-primary.text-white.text-center
        Waiver of Liability

.row
  .col
    %p.card-text.text-center.text-danger
      Please review the following. Upon arrival and before entering our workshop
      %br
      you will be required to review and sign our Waiver of Liability form
      %strong IN PERSON.
    %embed.d-lg-none{src: 'Waiver.pdf', width: '100%', height: '500px'}
    %embed.d-none.d-lg-block{src: 'Waiver.pdf', width: '100%', height: '1400px'}
