!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv": "Content-Type"}
    = stylesheet_link_tag "mailer", media: "all"
  %body.bg-light
    .container.mt-2
      %a{href: root_url}
        %img.img-system-logo.mb-2{src: '/SJWlogo.png'}
      = yield
      %hr
      %p.text-center
        = link_to ClientInfo.owner, ClientInfo.website_link
        %br 11235 Ridenour Rd
        Thornville, OH 43076
        %br
        Find us on
        %a{href: ClientInfo.facebook_link} Facebook
        and
        %a{href: ClientInfo.instagram_link} Instagram
