!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv": "Content-Type"}
    = render partial: 'layouts/partials/mailer_css'
  %body
    = yield
    %hr
    %strong= Ares::ClientInfo.owner
    %br 11235 Ridenour Rd
    Thornville, OH 43076
