!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv": "Content-Type"}
    :css
      @import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
  %body{style: "font-family: 'Abril Fatface'"}
    = yield
    %hr
    = link_to ClientInfo.owner, root_url
    %br 11235 Ridenour Rd
    Thornville, OH 43076
